/* PHASE 4: Footer */

.footer {
    font-size: 16px;
    margin: 0 auto;
    width: 900px;
    background: #fff;
    color: #aaa;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
}

.footer-copy {
    padding: 20px;
    float: left;
}

.footer-links {
    float: right;
    padding: 20px;
}

.footer-links > li {
    float: left;
    margin: 0 20px 0 20px;
}

.footer a {
    display: block;
}

.footer a:hover {
    color: #000;
}
