<html>
<head><meta content='text/html; charset=UTF-8' http-equiv='Content-Type' /></head>
    <body>
        <h1>Welcome to cats.com, <%= @user.name %> </h1>
        <p> You did it! 
            You have signed up for the best Cat Site on the Internet.
            Your username is <%= @user.login %></p> 
            <br>
        <p>To login to the site, follow this link -> <%= @url %></p>
    </body>
</html>